body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.starter-template {
  padding: 40px 15px;
}

input, label {
  display: block;
}

.square-btn-inline {
  height: 26px;
  width: 26px;
  display: inline;
}

.square-btn {
  height: 26px;
  width: 26px;
}

input[type=text].longer {
  width: 75%;
}

select {
  margin-bottom: 5px;
}