<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="Joe Martella">

  <title>race reportr | preview</title>

  <!-- Bootstrap core CSS 
  ==================================== -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <!-- Awesome Bootstrap Checkbox
  ==================================== -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="/stylesheets/awesome-bootstrap-checkbox.css" rel="stylesheet">

  <!-- App styles 
  ==================================== -->
  <link href="/stylesheets/style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">race reportr</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="starter-template">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="lead">
            This is what your report will look like on <em>/r/running</em>. If you'd like to change something, go back to the other tab and make those changes. If it looks good, click <strong>get source</strong> to get the post source to post. <br>
            <small>Note: The gibberish text underneath the text-heavy sections are just to give you an idea what it'll look like after you write your report. That text won't be present in the post source.</small>
          </h2>
          
          <button class="btn btn-success">get source</button>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- App code
  ==================================== -->
  <script src="/javascripts/main.js"></script>
</body>

</html>